.contact-us__img {
    width: 45%;
  }
  
  .contact-us__img img {
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .contact-us__img {
      display: none;
    }
  }
  
  .contact-us__form {
    padding: 2.4rem;
    width: 50%;
    margin: auto;
  }
  
  .contact-us__form h6 {
    color: #187ae8;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 0.6rem;
  }
  
  .contact-us__form small {
    color: rgba(0, 0, 0, 0.35);
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
  }
  
  .contact-us__form form {
    margin-top: 2rem;
  }
  
  .contact-us__form form div {
    width: 100%;
  }
  
  .contact-us__form form textarea {
    resize: none;
    height: 12rem;
  }
  
  .contact-us__form form .primary-btn {
    margin-right: 0rem !important;
    margin-top: 3.6rem !important;
  }
  
  .contact-us__form form .primary-btn button {
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .contact-us__form {
      margin-left: 0rem;
      margin-top: 3rem!important;
      width: 70%;
      padding: 0rem;
      margin: auto;
    }
  }
  @media screen and (max-width: 1024px) {
    .contact-us__form {
      margin-left: 0rem;
      width: 100%;
      padding: 8rem 0rem ;
      margin: auto;
    }
  }
  
  @media screen and (max-width: 480px) {
    .contact-us__form {
      margin-left: 0rem;
      margin-top: 2rem;
      width: 100%;
      padding: 0rem;
    }
  }
  
  /* @media screen and (max-width: 768px) {
    .contact-us {
      flex-direction: column;
      transform: translateY(35%);
    }
  } */
  
  /* @media screen and (max-width: 480px) {
    .contact-us {
      flex-direction: column;
      transform: translateY(22%);
    }
  } */
  
  button{
    background-color: #187ae8!important;
    color: #fff!important;
    border: none!important;
    border-radius: 10rem;
  }

  input{
    background-color: #00000008;
    border: 1px solid transparent;
    padding: 1.35rem 1.6rem;
    border-radius: .6rem;
    width: 100%;
  }
  textarea{
    background-color: #00000008;
    border: 1px solid transparent;
    padding: 1.35rem 1.6rem;
    border-radius: .6rem;
    width: 100%;
  }