<!-- @if (images) {
	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[0]" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>Premier destination for comprehensive training</h3>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[1]" alt="Random second slide" />
			</div>
			<div class="carousel-caption">
				<h3>Experienced industry professionals</h3>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[2]" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<h3>Third slide label</h3>
			</div>
		</ng-template>
	</ngb-carousel>
} -->

<section class="about-us">
	<div class="container">
		<h1 class="title">Welcome to Everything Cloud Platform</h1>
		<p class="description">
			The premier destination for comprehensive training in Site Reliability Engineering (SRE), Platform
			Engineering, and Cloud Engineering. Our mission is to empower professionals and organizations with the
			skills and knowledge needed to excel in today's rapidly evolving cloud tech landscape. <a [routerLink]="['about-us']"> read more</a>
		</p>
	</div>
	<button class="schedule-demo">Schedule a Demo</button>
</section>